@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very-very-dark-grayish-blue: hsl(217, 19%, 30%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --min-side-padding: 10rem;
    --border-radius: 10px;
    --share-btn-width: 2.5rem;
    --social-inline-padding: 2.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px; /* Adjusting font-size to meet specifications */
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--light-grayish-blue);
    color: var(--desaturated-dark-blue);
}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 6vh 6vw;
}

h1 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    line-height: clamp(1.85rem, 4vw, 2.2rem);
    font-weight: 700;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.55rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: var(--desaturated-dark-blue);
}

.article-container {
    max-width: clamp(40rem, 55vw, 56rem);
    background-color: white;
    border-radius: 15px;
    box-shadow: hsla(0, 0%, 50%, 0.33) 0px 10px 20px;
}

.article {
    display: flex;
    flex-flow: column;
}

.illustration {
    width: 100%;
    object-fit: cover;
}

.article-actual-content {
    padding: 2.25rem 2.5rem 1.25rem;
}

.article-text {
    margin: 0;
    padding-right: 0.75rem;
}

.social {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem var(--social-inline-padding) 1.25rem;
}

.social.share-active {
    background-color: var(--very-dark-grayish-blue);
}

.avatar {
    max-height: 3.25rem;
    border-radius: 50%;
}

.author {
    display: flex;
    gap: 1.5rem;
}

.author.share-active {
    display: none;
}

.author-name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--very-dark-grayish-blue);
}
.publish-date {
    margin-bottom: 0;
    color: var(--grayish-blue);
}

.bubble {
    display: none;
    min-height: 3.25rem;
}

.bubble.share-active {
    display: flex;
    align-items: center;
}

.share-text {
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}

.share-options {
    display: flex;
    gap: 1.25rem;
}

.share-btn {
    cursor: pointer;
    width: var(--share-btn-width);
    height: 2.5rem;
    border: 0;
    border-radius: 50%;
    background: var(--light-grayish-blue);
}

.share-btn.share-active {
    background-color: var(--desaturated-dark-blue);
}

.share-icon {
    fill: #6E8098;
}

.share-btn.share-active .share-icon{
    fill: var(--light-grayish-blue);
}

.attribution {
    display: none;
    font-size: 0.85rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 819px) {
    .article-content {
        overflow: hidden;
    }

    .article > *:first-child
    {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
    }
    .article > *:last-child
    {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .illustration {
        max-height: 30vh;
    }
}

@media screen and (min-width: 820px) {
    :root {
        --min-side-padding: 4rem;
        --share-options-width: 20rem;
    }

    h1 {
        letter-spacing: 0.4px;
    }

    .article-container {
        min-width: 50rem;
    }

    .article {
        flex-flow: row;
    }

    .article > *:first-child
    {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
    }
    .article > *:last-child
    {
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }

    .illustration {
        max-width: 40%;
    }

    .article-actual-content {
        min-width: 10rem;
        padding-bottom: 0.25rem;
    }

    .social.share-active {
        background-color: unset;
    }

    .author.share-active {
        display: flex;
    }

    .bubble {
        position: absolute;
        top: -5rem;
        right: calc((var(--share-options-width) - var(--share-btn-width)) / -2 + var(--social-inline-padding));
    }

    .share-options {
        position: relative;
        background-color: var(--very-dark-grayish-blue);
        padding: 1.5rem 3rem;
        border-radius: var(--border-radius);
        width: var(--share-options-width);
    }
    .share-options::after {
        position: absolute;
        content: "";
        display: block;
        width: 0;
        border: 10px solid transparent;
        border-top-color: var(--very-dark-grayish-blue);
        border-bottom: 0;
        bottom: -9px;
        left: calc(50% - 10px);
    }
}